.appMainHeader {
  background-color: var(--green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  max-height: var(--headerHeight);
}

.appMainHeader img {
  width: 100px;
  height: 40px;
}

.appMainHeader a {
  text-decoration: none;
  color: white;
}

.headerList {
  list-style-type: none;
  display: flex;
}

.headerList a {
  margin-right: 1rem;
}

.headerList a li {
  border: 1px solid #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 8px;
}

.headerList li:last-child {
  margin: 0;
}
