.appMainHeader {
  background-color: var(--green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  max-height: var(--headerHeight);
}

.appMainHeader img {
  width: 100px;
  height: 40px;
}

.appMainHeader a {
  text-decoration: none;
  color: white;
}

.headerList {
  list-style-type: none;
  display: flex;
}

.headerList a {
  margin-right: 1rem;
}

.headerList a li {
  border: 1px solid #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 8px;
}

.headerList a li:last-child {
  margin: 0;
}

img.hamburgerMenu {
  display: none;
}

.hamburgerList {
  list-style-type: none;
}

.hamburgerList a {
  text-align: center;
}

.hamburgerList a li {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid white;
}

.closeMenuArrow {
  background-color: transparent;
  border: none;
  margin: 1rem 0 1rem 1rem;
  display: block;
  width: 50px;
  height: 50px;
}

.hamburgerActive {
  animation: menuAnimation 0.3s both;
}

.hamburgerDeactivated {
  animation: menuAnimation 0.3s reverse;
}

.hamburgerMainMenu {
  position: fixed;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: #3b8c66;
}

@keyframes menuAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 577px) {
  .hamburgerMainMenu {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .appMainHeader {
    padding: 1rem 0;
  }
  .appMainHeader img {
    width: 25px;
    height: 25px;
  }

  .appMainHeader h2 {
    font-size: 20px;
  }

  .headerList a li {
    font-size: 11px;
    padding: 0.1rem 0.25rem;
    border-radius: 4px;
  }
}

@media (max-width: 576px) {
  .appMainHeader {
    padding: 1rem 0;
  }

  img.hamburgerMenu {
    display: inline-block;
    width: 25px;
    height: 25px;
  }

  .appMainHeader img {
    width: 25px;
    height: 25px;
  }

  .headerList a li {
    display: none;
  }

  .appMainHeader h2 {
    font-size: 20px;
  }
}
