.expensesListWrapper {
  width: 80%;
  height: calc(100vh - 2 * var(--headerHeight));
  margin: calc(var(--headerHeight) / 2) auto 0;
  background-color: inherit;
}

ul.expensesList {
  list-style-type: none;
}
