.loginWrapper {
  width: 50%;
  margin: 5rem auto 0;
  background-color: #fff;
  background-color: inherit;
  border: 2px solid white;
  padding: 2rem;
}

section.loginSection {
  width: 50%;
  margin: 0 auto;
}

.singleInput label {
  display: block;
  margin: 1rem 0;
}

.singleInput input {
  width: 100%;
}

button.loginButton {
  display: block;
  margin-top: 1rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

section.loginSection form a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-top: 1rem;
  display: block;
  text-align: center;
}

@media (max-width: 992px) {
  div.loginWrapper {
    width: 75%;
  }
  section.loginSection {
    width: 100%;
  }
}

@media (max-width: 576px) {
  div.loginWrapper {
    width: 100%;
    border: none;
  }
}
