@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --darkBlue: #023859;
  --blue: #025373;
  --greenBlue: #026773;
  --lightGreen: #3ca6a6;
  --fontBlue: #1cdeb1;
  --bright: #f2e3d5; */

  --backgroundColor: #1d1c1c;
  --darkGreen: #014034;
  --green: #02735e;
  --lightGreen: #038c73;
  --greenBlue: #36bfb1;
  --bright: #f2e3d5;
  --errorRed: rgb(219, 0, 0);

  --headerHeight: 4rem;
}

body {
  background-color: var(--backgroundColor);
  font-family: "Lato", sans-serif;
  color: var(--bright);
}
